body {
    width: 300px;
    height: 500px;
    margin: 0;
    padding: 0;
    font-family: "VT323";
  }

  .popup {

    width: 100%;
    height: 100%;
    background-color: #333333;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color:antiquewhite;
  }

  .site {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #000;
    /* border: 2px solid #000; */
    /* padding: 6px; */
    padding-left: 5px;
    margin-bottom: 2px;
    width: 250px;
    background-color: #ccc;
    border-radius: 3px;
    font-size: 15px;

  }

.button {
  height: 2em;
  background-color: #000000; /* Green */
  font-family: "VT323";
  border: none;
  color: rgb(0, 255, 0);
  border-radius: 0 3px 3px 0;
  cursor:pointer;

}


input[type='reset']
 {
  width: 5rem;
  justify-self: end;
  font-family: "VT323";
  margin-bottom: 1em;
  cursor:pointer;
}
input[value="https://"]{
  font-family: "VT323";
}

  h1 {
    font-size: 36px;
    margin-bottom: 26px;
    color: rgb(0, 255, 0);
  }

  p {
    font-size: 16px;
  }